---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-pro-type-member-init,
  performance-*,
  readability-braces-around-statements,
  readability-container-size-empty,
  readability-duplicate-include,
  readability-redundant-member-init,
  readability-simplify-boolean-expr,
  readability-use-anyofallof
WarningsAsErrors: ''
HeaderFilterRegex: '^(calibration|cipher|dataterminal|definition|dtc|ecu|expression|file|logging|menu|modules|nrc|protocol|remote_utility|serial_port|settings|systemlogger|vehicle|tests)/.*'
FormatStyle: none
CheckOptions:
  - key: readability-braces-around-statements.ShortStatementLines
    value: '1'
...
